@media (max-width:400px) {
    .voyti {
        width: 85% !important;
    }
    .yeshyo {
        display: flex !important;
        justify-content: center !important;
        flex-direction: column !important;
        text-align: center !important;
    }
}