@media (max-width:400px) {
  .zaregistr {
    width: 90% !important;
  }
  .zaregistrovat {
    width: 100% !important;
    z-index: 1000 !important;
    background-color: red !important;
  }
}
.ant-modal-footer {
    display: none;
}