@media (max-width: 768px) {
   .posilku {
    width: 160px !important;
    font-size: 11px !important;
   }
   .redddd {
    width: 75% !important;
    padding: 15px !important;
   }
   
   .input_1 {
      width: 80% !important;
   }
   .inputtextare {
      width: 84% !important;
   }
   .textarea {
      width: 84% !important;
   }
}
@media (max-width: 400px) {
   .posilku {
    width: 160px !important;
    font-size: 11px !important;
   }
   .redddd {
    width: 100% !important;
    padding: 15px !important;
   }
   .zapolnit {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
   }
   .inputbox {
      width: 100% !important;
   }
   .input_1 {
      width: 100% !important;
   }
   .inputtextare {
      width: 84% !important;
   }
   .textarea {
      width: 84% !important;
   }
}