@media (max-width:400px) {
    .oplata {
        width: 70% !important;
    }
    .oplatabtn {
        width: 50% !important;
    }
    .koplate {
        font-size: 20px !important;
        line-height: 70px !important;
    }
    .zayafkaimg {
        width: 100% !important;
        margin-top: -8% !important;
    }
    .otmenabtn {
        width: 100px !important;
    }
}