
@media (max-width:1024px) {
    .swipperr {
        font-size: 32px !important;
        margin-left: 360px !important;
    }
    .slick-list {
        width: 100% !important;
    }
    .caruseljs {
        width: 970px !important;
    }
    .slick-track {
        display: flex !important;
        gap: 25px !important;
    }
    
}
@media (max-width:768px) {
    .swipperr {
        font-size: 32px !important;
        margin-left: 360px !important;
    }
    .slick-list {
        width: 100% !important;
    }
    .caruseljs {
        width: 900px !important;
    }
    .slick-track {
        display: flex !important;
        gap: 20px !important;
    }
    
}
@media (max-width:400px) {
    .swipperr {
        font-size: 22px !important;
    }
    .slick-list {
        width: 100% !important;
    }
    .caruseljs {
        width: 900px !important;
    }
    .slick-track {
        display: flex !important;
        gap: 20px !important;
    }

}