@media (max-width:400px) {
    .lichniy {
        display: flex !important;
        justify-content: center !important;
    }
    .lichniy_text {
        margin-top: 0px !important;
        width: 100% !important;
    }
    .istory_tex {
        display: flex !important;
        justify-content: center !important;
    }
    .novybtn {
     width: 100% !important;
     display: flex !important; 
     justify-content: center !important;
    }
    .hr {
        margin-left: 30px !important;
        width: 80% !important;
    }
}






@media (max-width:700px) {
 .Navbarwhite {
  display: none !important;
 }
 .draver {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    gap: 0px !important;
 }
}
@media (min-width:700px) {
 .lichniyres {
    display: none !important;
 }
}